.md-main {
  background-color: rgb(226, 226, 226);
}

/* .md-typeset .admonition {
  max-width: 600px; /* <-- adjust to fit */
} */

p > a {
  color: rgb(255, 156, 116) !important;
  font-weight: 600;
  background-color: rgb(12, 12, 12);
  padding: 6px 10px;
}

.md-tabs__item > a {
  color: rgb(255, 156, 116) !important;
  font-weight: 600;
}

.md-header {
  background-color: rgb(0, 0, 0) !important;
}

.md-nav__title {
  display: none !important;
}

/* OVERRIDES --> */
.critic {
  background-color: rgb(255, 170, 136) !important;
}

.md-tabs {
  background-color: rgb(20, 20, 20);
}

/* OVERRIDES <-- */
div {
  border-color: rgb(234, 234, 234) !important;
}

.md-typeset td:not([class]):not(:last-child) {
  border-right: 1px solid rgb(226, 226, 226);
}

.md-typeset mark {
  background-color: rgb(255, 152, 93);
  padding: 3px;
}

.md-typeset .info > .admonition-title,
.md-typeset .info > summary {
  background-color: rgb(245, 124, 55);
}

.md-typeset .info > .admonition-title:before,
.md-typeset .info > summary:before {
  background-color: rgb(255, 255, 255) !important;
}

strong {
  color: rgb(44, 44, 44);
  font-weight: 400;
}

.md-nav--integrated
  > .md-nav__list
  > .md-nav__item--active:not(.md-nav__item--nested)
  > .md-nav__link,
.md-nav__item .md-nav__link {
  padding: 8px;
  min-height: 30px;
  color: rgb(22, 22, 22) !important;
  background-color: rgb(216, 216, 216) !important;
  box-shadow: none !important;
}

.md-nav__item .md-nav__link:hover {
  background-color: rgb(27, 27, 27);
  color: rgb(255, 94, 0);
}

.md-nav__item .md-nav__link--active {
  background-color: rgb(255, 94, 0);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.md-typeset .tip > .admonition-title,
.md-typeset .tip > summary {
  background-color: rgb(20, 20, 20);
}

.md-typeset .tip > summary:before {
  background-color: rgb(20, 20, 20);
}

.md-typeset .example > summary:before {
  background-color: rgb(20, 20, 20);
}

.md-typeset .example > .admonition-title,
.md-typeset .example > summary {
  background-color: rgb(20, 20, 20);
}

.md-typeset .note>.admonition-title, .md-typeset .warning>.admonition-title, .md-typeset .note>summary {
  background-color: rgb(20, 20, 20);
}

.admonition-title:before {
  background-color: rgb(255, 255, 255) !important;
}

.admonition-title {
  color: white !important;
}

.social-media {
  font-size: 1.8em;
  color: rgb(255, 94, 0);
}

.md-typeset a {
  color: rgb(255, 94, 0);
}

.md-footer-meta {
  display: none !important;
}

[dir="ltr"]
  .md-nav--integrated
  > .md-nav__list
  > .md-nav__item--active
  .md-nav--secondary {
  border-left: 1px solid rgb(218, 236, 255);
}

.headerlink {
  color: rgb(221, 221, 221) !important;
}
